body {
  color: #faf9f7;
  background-color: #faf9f7
}

.navbar {
  background-position: top center
}

.navbar-toggler-icon {
  float: right;
}

@media only screen and (min-width: 768px) {
  .navbar {
    background: transparent
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    background-color: #faf9f7
  }
}

@media only screen and (max-width: 991px) {
  .sweetSymphonies {
    display: none
  }
}

@media only screen and (min-width: 768px) {
  .vertNav, .mobileBottom {
    display: none
  }
}

@media only screen and (min-width: 768px) {
  .bandCarousel {
    display: none
  }
}

@media (max-width: 767px) {
  .landingPic, #aboutUs, .listenSection {
    display: none !important
  }
}

@media (max-width: 767px) {
  div.content.showBanner {
    display: none
  }
}

@media (max-width: 991px) {
  section.test3 {
      padding: 40px 50px 50px 25px;
  }
}

@media (min-width: 991px) {
  section.test3 {
      padding: 40px 190px 50px 150px;
  }
}


@media (max-width: 767px) {
  section.test3 {
    display: none
  }
}

.landingPic {
  background-image: url(srcs/bandPicBg.jpg);
  padding: 0px 0px 800px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  max-height: 700px;
  z-index: 2;
  animation: fadein 2s;
}

.listenSection {
  background-color: #D9EBDF;
  padding-top: 320px;
  padding-bottom: 0px;
}

div.forms {
  position: absolute;
}

div.container.listenBanner span.austinMonthly {
  animation: flickerAnimation 12s infinite;
  text-align: left;
  font-size: 19px
}

div.container.listenBanner span.underRadar {
  animation: flickerAnimation 11s infinite;
  animation-delay: 5s;
  text-indent: 40px;
  font-size: 18px;
  text-align: right;
}

div.container.listenBanner span.bcQuote {
  animation: flickerAnimation 12s infinite;
  animation-delay: 2s;
  font-size: 19px
}

div.container.listenBanner span.goldFlake {
  animation: flickerAnimation 9s infinite;
  animation-delay: 3s;
}

div.container.listenBanner span.sweetSymphonies {
  animation: flickerAnimation 20s infinite;
  animation-delay: 3s;
  font-size: 17px
}

span.date {
  float: left;
}

span.venue {
  float: left;
}

span.city {
  float: right;
}

.btn-outline-dark {
  float: right
}

header {
  text-align: center;
  text-indent: 10px;
  padding-top: 10px;
}

header img {
  vertical-align: top;
}
header h1 {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.navbar-brand {
  margin-left: 30px
}

li.showTest {
  vertical-align: bottom;
  line-height: 28px;
  font-size: 19px
}

.nav-item {
  color: #F8F8F8 !important;
  font-family: 'Ambroise';
  font-size: 30px;
}

.listen {
  color: #c896b6 !important
}

.shows {
  color: #d6bc61 !important
}

.merch {
  color: #96c8a8 !important
}

.videos {
  color: #7ea2ef !important
}

.about {
  color: #b19cd9 !important
}

.newsletter {
  color: #afaeac
}

@font-face {
  font-family: 'Brannboll';
  src: url('/srcs/brannboll.ttf') format('truetype')
}

@font-face {
  font-family: 'Ambroise';
  src: url('/srcs/Ambroise-Regular.otf') format('truetype')
}

.carousel img {
  position: relative;
  top: 5%;
  transform: translateY(-8%);
}

.carousel {
  max-height: 360px;
  overflow: hidden;
}

.carousel-control-prev {
  left: -3%
}

.carousel-control-next {
  right: -3%
}

.carousel-item img {
  width: 100%;
  height: auto
}

.container iframe {
  background-color: #ddd;
  position: relative;
  padding: 1em;
  left: 19%;
  top: 40%;
  transform: translateX(-50%);
  display: inline-block;
  box-shadow: 0 2px 23px 5px rgba(0, 0, 0, .1);
  margin: 0 0 35px 0
}

.content {
  box-shadow: 0 2px 23px 19px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 23px 19px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 23px 19px rgba(0, 0, 0, .2);
  padding: 3em 3em 5em 3em;
  position: relative;
  width: auto;
  z-index: 2;
  bottom: 115px;
  background-color: #faf9f7;
  display: block;
  text-align: center;
  overflow: hidden;
}

.content.showBanner {
  position: relative;
  transform: translateY(-8%);
  border: 1px solid black;
}

.content.footer {
  margin: 0;
  box-shadow: none
}

section.test3 {
  box-shadow: 0 -21px 23px -3px rgba(0, 0, 0, .2);
  top: 500px;
  right: 500px;
  font-family: 'Ambroise'
}

table {
  margin: auto;
  width: 100%
}

td, th {
  padding: 5px 15px 5px 15px
}

tr {
  margin-bottom: 500px
}

div#aboutUs.content.about {
  position: absolute;
  top: 690px;
  height: 465px;
  display: block;
  width: 100%
}

#form {
  position: absolute;
  height: 300px;
  display: block;
  width: 50%;
  transform: translate(50%);
}

div#aboutUs.content.about h5{
  font-size: 18px;
}

div.testBox {
  width: 672px;
  border: 1px hidden;
  position: relative;
  margin: 0 auto;
}

section.mobileBottom {
  text-align: center;
}

.bcLink iframe {
  border: 0;
  width: 100%;
  height: 120px;
  margin: auto;
}

.ytLink iframe {
  display: block;
  margin:auto;
  width: 100px;
  height: 50px;
}

.fa-facebook-f {
  color: #3B5998;
}

.fa-instagram {
  color: #fb3958
}

.fa-twitter {
  color: #1DA1F2
}

.container.listenBanner {
  position: relative;
}

h4 {
  font-family: 'Ambroise', serif;
  font-style: normal;
  font-weight: 300;
  text-align: center
}

hr {
  background-color: white;
  width: 50%
}

tr {
  border-bottom: 1px solid #ccc;
}

h1, h2, h6, p {
  font-family: 'Ambroise', serif;
  font-style: normal;
}

h5 {
  font-family: 'Ambroise', serif;
  font-style: normal;
  text-align: left;
  line-height: 30px
}

li {
  font-family: 'Ambroise', serif;
  font-style: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul.mobileNav li{
  margin: 2px;
  border-bottom: 2px solid #4484b2;
  padding: 8px 0;
  border-bottom-width: 50%
}

button {
  float: right;
  margin-right: 100px
}

p {
  float: right;
  display: inline;
  width: 49%;
  text-align: left;
  font-size: 20px
}

i {
  margin: 30px;
}

.footer {
    position: fixed bottom;
    left: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 100%;
    background-color: #000000;
    color: #faf9f7;
    text-align: center;
}

@-webkit-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.vertNav {
  font-size: 21px;
  text-align: center;
}

.vertNav hr {
  width: 90%;
  border-color: #e1e0de;
  height: 2px
}

.fab {
  background: transparent
}

.stars {
  background: #000
  url(srcs/starrySky.jpg) repeat top center;
  z-index: 1
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  -webkit-animation: twinkle 300s linear infinite;
  z-index: 2
}
